.timeline {
  padding: 0 !important;
}

.timeline .timeline_header {
  padding-top: 7px;
}

.timeline .timeline_firstItem {
  min-height: 60px !important;
}

.timeline .MuiTimelineItem-root {
  min-height: 0px;
}

.timeline .MuiTimelineItem-missingOppositeContent:before {
  display: none;
}

.timeline .timeline_dot_header {
  color: black;
  background-color: var(--main-color);
  font-size: small;
  padding: 10px;
}

.timeline .timeline_dot {
  color: black;
  background-color: var(--main-color);
  font-size: small;
  padding: 2px;
}

.timeline .MuiTimelineConnector-root {
  background-color: #a39b9b;
}

.timeline .timeline_dot_header > .MuiSvgIcon-root {
  font-size: 20px;
  color: black;
}

.timeline .separator_padding {
  padding-left: 18px;
}

.timeline .timeline_content {
  padding-top: 0px;
  margin-bottom: 20px;
}

.timeline .timelineItem_content {
  margin-top: 2px;
}

.timeline .timelineItem_text {
  font-size: 13.5px;
  color: #787878;
  font-weight: 400;
}

.timeline .timelineItem_text > a {
  color: #787878;
  text-decoration: none;
}

.timeline .timelineItem_text > span {
  color: black;
}
